body
  // background-color #aaaaaa
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin 0
  padding 0
  
  .header
    width 100%
  .body
    text-align center
    width 100%
    height 100%

    .panel
      display inline-block

      &.left
        width 200px
        height 400px
        background-color #f00

      &.center
        width 600px
        height 530px 

        #compromise
          width 500px
          height 463px

        .left-input
          width 50%
          display inline-block
          text-align left

        .right-input
          width 50%
          display inline-block
          text-align right

      &.right
        width 200px
        height 400px
        background-color #0f0

  .footer
    position absolute
    bottom 0px
    color #dddddd
  
